.page {
  margin: 0;
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: #2A2C2F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}
