.places__link {
  margin: 0;

  box-sizing: border-box;

  font-size: 18px;
  line-height: 122%;
  text-decoration-line: underline;
  color: #FFFFFF;

  transition: opacity 1s ease-in-out;
}

.places__link:hover {
  opacity: .8;
}
