.lead__title {
  margin: 56px auto 0;
  max-width: 720px;

  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin: 48px auto 0;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 100px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
}