.cover__text {
  max-width: 560px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

@media screen and (max-width: 700px) {
  .cover__text {
    gap: 16px;
  }
}

@media screen and (max-width: 320px) {
  .cover__text {
    max-width: 288px;
  }
}