.cover__text {
    margin: 0;
    position: relative;
    top: 245px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
    z-index: 3;
}