.cover {
  position: relative;
  margin: 92px auto;

  width: 1184px;
  height: 740px;

  background-image: url("../../images/baikal__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
