.cover {
  position: relative;
  margin: 92px auto;
  box-sizing: border-box;

  width: 1184px;
  height: 740px;

  background-image: url("../../images/baikal__background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 88px;
    width: 768px;
    height: 400px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-top: 66px;
    margin-bottom: 64px;
    width: 320px;
    height: 200px;
  }
}