.places__website {
  align-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}


@media screen and (max-width: 600px) {
  .places__website {
    margin-left: 16px;
  }
}